.canciones-root {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.wrapper-buscador {
    width: 100%;
    height: 55px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.input-buscar {
    display: block;
    width: 50%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-buscar:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-buscar::placeholder {
    color: #6c757d;
    opacity: 1;
    /* Firefox */
}

.input-buscar::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #6c757d;
}

.input-buscar::-webkit-input-placeholder {
    /* Chrome, Opera, Safari */
    color: #6c757d;
}

.sin-resultados{
    text-align: center;
    margin-top: 20vh;
}

.cancion-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 15px;
}

.song-card {
    cursor: pointer;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    font-family: sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;


}

.song-card:hover {
    transform: translateY(-5px);
}

.song-title {
    display: inline;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.song-artist,
.song-type {
    font-size: 1em;
    color: #666;
    margin-bottom: 5px;
}

.song-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.song-link:hover {
    background-color: #0056b3;
}

.controlesPaginacion {
    padding: 20px;
}

.controlesPaginacion>button {
    margin-left: 5px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    color: #333333;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.controlesPaginacion>button:hover {
    opacity: 0.9;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.controlesPaginacion>button:disabled {
    opacity: 0.5;
    /* Reduce la opacidad al 50% */
    cursor: not-allowed;
    /* Cambia el cursor a "no permitido" */
}

.controlesPaginacion > button.active {
    background-color: #6002a8;
    color:white;
    /* Un gris más claro al presionar */
}


/*Telefonos*/
@media (max-width: 576px) {
    .input-buscar {
        width: 100%;
    }
    .cancion-wrapper {
        gap: 10px;
    }

    .controlesPaginacion > button{
        margin-left: 5px;
        padding: 8px 14px;
        font-size: 14px;
    }

    .song-card {
        width: 80vw;
        padding: 5px;
        
    }
    
}

/*Tablets*/
@media (min-width: 576px) and (max-width: 991px) {
    .input-buscar {
        width: 80%;
    }
}